<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BackupFolder" value="D:\Datally\Backup\" />
    <add key="MRBackupFolder" value="D:\Datally\Medical Report\Backup\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="cnn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\SVR1\d\Datally\DataBase\Datally.accdb;Jet OLEDB:Database Password=Datally@2020$;" />
    <add name="Rcnn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\SVR1\d\Datally\Medical Report\DataBase\Reportly.accdb;Jet OLEDB:Database Password=Datally@2020$;" />
    <add name="Datally.Properties.Settings.DatallyConn" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=C:\Users\Salah Karrar\Dropbox\Project VS\Datally II\Datally II\bin\Debug\DataBase\Datally.accdb;Jet OLEDB:Database Password=Datally@2022$"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <!--
<connectionStrings>
  <add name="cnn" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=D:\Datally\DataBase\Datally.accdb;Jet OLEDB:Database Password=Datally@2020$;" />
  <add name="Rcnn" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=D:\Datally\Medical Report\DataBase\Reportly.accdb;Jet OLEDB:Database Password=Datally@2020$;" />
  <add name="Datally.Properties.Settings.DatallyConn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Datally\DataBase\Datally.accdb;Jet OLEDB:Database Password=Datally@2020$"
    providerName="System.Data.OleDb" />
</connectionStrings>
-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>